<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light py-5">
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <img src="../../assets/logo.png">
                </li>
            </ul>
            <div>
                <div>
                    <span><img src="../../assets/caret-down.png" class="float-right w-3 pt-1"></span>
                    <span class="float-right text-white"> Sagar kakadiya</span>
                    <span><img src="../../assets/img_avatar2.png" class="avatar float-right float-lg-right mr-2"></span>
                </div>
                <img src="../../assets/bell.png" class="w-5 float-right mr-3">
            </div>
        </div>
    </nav>
    <!-- sub header -->
    <div class="row  padding-bottom">

        <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
            <span>
                <a class="text-white px-4 bg-shaw border-ra p-2 font-z-13" href="#">Dashboard</a>

                <a class="text-white px-4 font-z-13" href="#">Tutoring Schedule</a>

                <a class="text-white px-4 font-z-13" href="#">Lessons</a>

                <a class="text-white px-4 font-z-13" href="#">My Classes</a>

                <a class="text-white px-4 font-z-13" href="#">Analytics</a>
            </span>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback">
                    <img src="../../assets/magnifying-glass.png" width="20">
                </span>
                <input type="text" class="form-control bg-search text-white rounded-15"
                    placeholder="Search for lesson,classes and students...">
            </div>
        </div>

    </div>
</div>